.review-element {
    display: flex;
    flex-direction: row;
    width: 780px;
    border-radius: 20px;
    background-color: $grey;
    height: 80px;
    margin-bottom: 24px;
    align-items: center;

    &__type {
        margin-left: 26px;
        color: $font_color_white;
        font-family: $main_font;
        font-weight: 600;
        font-size: 28px;
        line-height: 32px;
    }
    &__text {
        color: $font_color_white;
        font-family: $main_font;
        margin-left: 10px;
        font-weight: 600;
        font-size: 28px;
        line-height: 32px;
    }

    &__film-name {
        font-family: $main_font;
        color: $font_color_white;
        margin-left: 10px;
        font-weight: 600;
        font-size: 28px;
        line-height: 32px;
    }
}
