.profileInfo
    .profileInfo__avatar
        img(src=`../${avatarSrc}`)
    .profileInfo__name
        span #{name}
    .profileInfo__container
        .profileInfo__settings Изменить
        //.profileInfo__settings__form
        //    a Имя
        //    input(type="text" class='profileInfo__settings__form__text-input' placeholder=" Введите имя")
        //    .profileInfo__settings__form__button
        //        input(type="button" class='profileInfo__settings__form__button-input' value='Сохранить')
        //        input(type="button" class='profileInfo__settings__form__button-input' value='Отменить')
