.profileInfo
    .profileInfo__avatar
        .profileInfo__avatar__input(type="file" accept=".jpg, .jpeg, .png, .svg, .webp" style=`background-image: url(${avatarSrc}`)
        img(src=`../${avatarSrc}`)
    .profileInfo__name
        span.name #{name}
    .profileInfo__container
        if isThisUser
            .profileInfo__settings Изменить
            .profileInfo__settings__form
                a Имя
                input(type="text" class='profileInfo__settings__form__text-input' placeholder=" Введите имя")
                    //- span.profileInfo__settings__form__new-name
                .profileInfo__settings__form__button
                    input(type="button" class='profileInfo__settings__form__button-input' value='Сохранить') 
                    input(type="button" class='profileInfo__settings__form__button-input' value='Отменить')
