.profile-info__avatar {
    &__input {
        position: relative;
        border-radius: 50%;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;

        .avatar {
            border-radius: 50%;
            border: none;
            width: 200px;
            height: 200px;
            object-fit: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .change__avatar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            opacity: 0;
            object-fit: cover;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            background-image: url("static/pics/avatarBackground.jpg");
        }
        .change__avatar:hover {
            opacity: 0.5;
            font-size: 0px;
        }
    }
}

.profile-info__name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 40px;
    .name {
        text-align: center;
        color: $font_color_white;
        font-family: $main_font;
        font-size: 20px;
        font-weight: 500px;
        line-height: 28px;
    }
}

.profile-info__container {
    width: 100%;
    display: flex;
    justify-content: center;
    &__settings {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 180px;
        height: 40px;
        margin-top: 20px;
        border-radius: 12px;
        background-color: $raspberry;
        color: $font_color_white;
        font-family: $main_font;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        cursor: pointer;
        &:hover {
            filter: brightness(80%);
        }
        &:active {
            filter: brightness(72%);
        }
    }

    &__settings__form {
        display: none;
        flex-direction: column;
        width: 100%;

        a.input-text {
            width: 100%;
            height: 20px;
            margin-left: 15px;
            color: $font_color_white;
        }
        &__name-input {
            display: flex;
            height: 40px;
            margin-left: 15px;
            margin-right: 15px;
            border-radius: 12px;
            outline: none;
            padding-left: 10px;
        }
        &__name-error {
            width: 100%;
            height: 20px;
            margin-left: 15px;
            color: $error;
        }
        &__button {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 15px;
            margin-right: 15px;

            &-input {
                background-color: $raspberry;
                color: $font_color_white;
                width: 40%;
                height: 40px;
                border-radius: 12px;
                border: 0;
                &:hover {
                    filter: brightness(80%);
                    cursor: pointer;
                }
                &:active {
                    filter: brightness(72%);
                }
            }
        }
    }
}
