@import "../../css/consts.scss";
@import "profileReview/profileReview.scss";
@import "profileBookmark/profileBookmark.scss";
@import "profileInfo/profileInfo.scss";
@import "../review/review.scss";
@import "../bookmark/bookmark.scss";

.profile-wrapper {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;

	.profile {
		margin-left: 370px;
		display: grid;
		grid-template-columns: repeat(12, 80px);
		column-gap: 20px;
		grid-template-areas: "info info info info content content content content content content content content";

		&-info {
			grid-area: info;
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: $profile_info_background;
			height: 764px;
			width: 380px;
			margin-top: 30px;
			border-radius: 20px;
		}
		&-content {
			grid-area: content;
			display: grid;
			grid-template-areas:
				"bookmarks"
				"review";
			margin-left: 20px;

			.profile-bookmarks {
				grid-area: bookmarks;
				width: 780px;
				display: grid;
				grid-template-areas:
					"name name name name name name"
					"el el el el el el";

				&__title {
					margin-top: 30px;
					grid-area: name;
					width: 780px;
					height: 40px;
					color: $font_color_white;
					text-align: center;
					font-family: $main_font;
					font-weight: 600;
					font-size: 28px;
					line-height: 32px;
				}
			}
			.profile-reviews {
				grid-area: review;
				width: 780px;
				display: grid;
				grid-template-areas:
					"name name name name name name"
					"el el el el el el";

				&__title {
					grid-area: name;
					width: 780px;
					height: 40px;
					color: $font_color_white;
					text-align: center;
					font-family: $main_font;
					font-weight: 600;
					font-size: 28px;
					line-height: 32px;
				}
			}
		}
	}
}
