.profile-wrapper
    .profile
        .profile-info
            include profileInfo/profileInfo
        .profile-content
            .profile-bookmarks
                span.profile-bookmarks__title Мои подборки
            .profile-reviews
                span.profile-reviews__title Отзывы и оценки

            
            
            