footer#footer
    span.copyright © AKino, 2022, VK
    .social
        img(src="/static/pics/github.svg")
        .social-btn.github-hrefs
            a(href="https://github.com/kalashkovpaul") Калашков Павел
            a(href="https://github.com/Kislv") Киселёв Виктор
            a(href="https://github.com/muzhts-anton") Мужецкий Антон
            a(href="https://github.com/Kostich31") Костинич Константин
    .copyright
    