footer#footer
    span.copyright © AKino, 2022, VK
    .social
        img(src="../dist/img/github.svg")
        .social-btn.github-hrefs
            a.not-route(href="https://github.com/kalashkovpaul/" target="_blank") Калашков Павел
            a.not-route(href="https://github.com/Kislv/") Киселев Виктор
            a.not-route(href="https://github.com/muzhts-anton/") Мужецкий Антон
            a.not-route(href="https://github.com/Kostich31/") Костинич Константин
    .copyright
    