footer#footer
    span.copyright © Akino, 2022, VK
    .social
        a.social-btn(href="https://vk.com/feed")
            include /static/pics/vk.svg
        a.social-btn(href="https://instagram.com/")
            include /static/pics/inst.svg
        .social-btn.github-hrefs
            a(href="https://github.com/kalashkovpaul") Калашков Павел
            a(href="https://github.com/Kislv") Киселёв Виктор
            a(href="https://github.com/muzhts-anton") Мужецкий Антон
            a(href="https://github.com/Kostich31") Костинич Константин
    .copyright
    