$white: #f2f2f2;
$black: #000000;
$navigational: #15161a;
$raspberry: #b70084;
$dark_raspberry: #ab23ff;
$very_dark_raspberry: #7200b9;
$grey: #4f3f47;
$movie_card: #4f3f47;
$light_shadow: #c5c5c5;
$shadow: #757575;
$dark_shadow: #959494;
$background: #1e1f23;
$font_color_grey: #c5c5c5;
$error: #fa8334;
$profile_info_background: #4f3f47;
$font_color_white: #ffffff;
$green: #7df390;
$red: #e90000;

:root {
    --dark-raspberry: #ab23ff;
    --green: #7df390;
    --red: #e90000;
    --navigational: #15161a;
    --badFeedback: #8e3434;
    --neutralFeedback: #1b2099;
    --goodFeedback: #1f872a;
}
$main_font: "Montserrat", sans-serif;
