$white: #F2F2F2;
$black: #000000;
$navigational: #15161A;
$raspberry: #B70084;
$dark_raspberry: #ab23ff;
$very_dark_raspberry: #7200b9;
$grey: #4F3F47;
$movie_card: #4f3f47;
$light_shadow: #c5c5c5;
$shadow: #757575;
$dark_shadow: #959494;
$background: #1E1F23;
$error: #FA8334;

$main_font: "Montserrat-Bold" ,sans-serif;