div.content_wrapper
    page.page
        div(class = "content_container")
            h1.title Жанры
            div.description Под любое настроение
            div.bg_container
                div.genres__container
                    each input, i in genresList
                        a(href=`${input.href}`)
                            img(class="genre-poster" src=`server/images/${input.imgsrc}`)
