@import "css/consts.scss";
@import "css/fonts.scss";
@import "components/header/header.scss";
@import "components/footer/footer.scss";
@import "components/header/userBlock/userBlock.scss";
@import "components/auth/auth.scss";
@import "components/collection/collection.scss";
@import "components/collections/collections.scss";
@import "components/singleCollection/singleCollection.scss";
@import "components/movieCard/movieCard.scss";
@import "components/personCard/personCard.scss";
@import "components/movie/movie.scss";
@import "components/slider/slider.scss";
@import "components/reviewCard/reviewCard.scss";
@import "components/profile/profile.scss";
@import "components/reviewInvitation/reviewInvitation.scss";
@import "components/reviewInputBlock/reviewInputBlock.scss";
@import "components/reviewSuccessBlock/reviewSuccessBlock.scss";
@import "components/actor/actor.scss";
@import "components/collectionDropdown/collectionDropdown.scss";
@import "components/genres/genres.scss";
@import "components/search/search.scss";

html, body {
    font-family: $main_font;
    margin: 0;
    padding: 0;
    background-color: $white;
    color: $black;
    width: 100vw;
    border: 0;
}
  
body {
    overflow-y: scroll;
    overflow-x: hidden;
}
  
.content {
    display: flex;
    flex: 1 0 auto;
    background-color: $background;
}
  
#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}
