@import 'components/footer/footer.css';
@import 'components/header/header.css';
@import 'components/collections/collections.css';
@import 'components/movie/movie.css';
@import 'components/auth/auth.css';

#root {
    position: relative;
    flex-direction: column;
    display: flex;
}

:root {
    --main-nav-color: #15161A;
    --main-wng-color: #FA8334;
    --main-soft-color: #6D98BA;
    --main-bg-color: #1E1F23;
    --main-green-color: #7CAE7A;
    --main-font: "Montserrat" ,sans-serif;
    --grid-bg-color: #382435;
}

#content {
    width: 100%;
    background-color: var(--main-bg-color);
    height: calc(100vh - 230px);
}

.color-bright {
    color: var(--main-wng-color);
}

* {
    box-sizing: border-box;
}

.warning p {
    color: red;
    margin: 0;
    text-align: right;
}
