#root {
    position: relative;
    flex-direction: column;
    display: flex;
}

:root {
    --main-nav-color: #394053;
    --main-wng-color: #FA8334;
    --main-soft-color: #6D98BA;
    --main-bg-color: #F6F4F3;
    --main-green-color: #7CAE7A;
    --main-font: "Montserrat" ,sans-serif;
}

#navbar {
    font-family: var(--main-font);
    width: 100%;
    flex: 0 0 70px;
    background-color: var(--main-nav-color);
    position: sticky;
    align-items: center;
    display: flex;

  }

.navbar_logo {
    margin-left: 5%;
}

.navbar_logo img{
    width: 100px;
    height: 65px;
}

.navbar_menu {
    display: inherit;
    width: 40%;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.navbar_menu_btn {
    text-decoration: none;
    transition: .1s;
    color: var(--main-bg-color);

}

.navbar_search {
    width: 30%;
    display: flex;
    align-items: center;
}

.navbar_menu_login-btn {
    text-decoration: none;
    color: var(--main-wng-color);
    font-size: 24px;
    margin-left: 5%;

}

#content {
    width: 100%;
    flex: 0 0 850px;
    background-color: var(--main-bg-color);
    display: flex;
}

#footer {
    width: 100%;
    flex: 0 0 150px;
    background-color: var(--main-nav-color);
    display: flex;
}

.login-content {
    background-color: var(--main-bg-color);
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    padding: 16px;
    min-width: 50%;
    min-height: 20%;
    max-height: 40%;
    background-color: var(--main-bg-color);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 400px;
    margin-right: 400px;
    align-items: center;
    border-width: thick;
    border-color: var(--main-green-color);
    border-style: solid;
}

.signup {
    display: flex;
    flex-direction: column;
    padding: 16px;
    min-width: 50%;
    min-height: 20%;
    max-height: 45%;
    background-color: var(--main-bg-color);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 400px;
    margin-right: 400px;
    align-items: center;
    border-width: thick;
    border-color: var(--main-green-color);
    border-style: solid;
}

.login__invitation,
.signup__invitation {
    font-family: var(--main-font);
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
}

.login__form,
.signup__form {
    flex: 1 0 auto;
    flex-wrap: wrap;
    display: flex;  
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.login a,
.signup a {
    font-family: var(--main-font);
    text-decoration: none;
    color: var(--main-nav-color);
    cursor: pointer;
    margin: 10px auto 25px auto;
}

.login__btn,
.sigup__btn {
    font-family: var(--main-font);
    font-size: 18px;
    background-color: var(--main-soft-color);
    color: var(--main-bg-color);
    margin: 1em auto 0;
    height: 40px;
    border: 0;
    cursor: pointer;
    width: 220px;
}

.text_inputs {
    font-family: var(--main-font);
    padding-left: 15px;
    flex: 1 0 auto;
    margin: 0;
    max-height: 40px;
    outline: none;
    border: 0;
    width: 80%;
}

.text_inputs__label {
    margin-top: 1em;
    margin-bottom: .3em;
    font-size: 1em;
    font-family: var(--main-font);
    align-self: baseline;
    margin-left: 11%;
}

.top-title {
    color: red;  
    align-items: center;  
}

.container-films {
    padding: 16px;
    margin-top: 50px;
    background-color: white;
    margin-left: 10%;
    margin-right: 30%;
    border-width: 10px;
    border-color: #4CAF50;
    border-style: solid;
    flex-direction: column;
    display: flex
}

.film {
   padding: 5px;
   border-color: green;
   border-width: 1px;
   border-style: solid;

}

.film .film_body {
    display: flex;
    float: left;
    width: 65%;
}

.film .filmNumber {
    color: red;
    float: left;    
    width: 5%;
}

.film .filmImage {
    object-fit: contain;
    float: left;
    width: auto;
    height: auto;
}

.film_body .filmBriefDescription {
    float: left;
    width: 30%;
    word-wrap: break-word;
    padding: 5px;
    display: flex;
}

.filmBriefDescription .filmOverviewLink {
    color: red;

    float: left;
    word-wrap: break-word;
    width: 100%;
}

.filmOverviewLink .filmOverviewName {
    /* float: left; */
    word-wrap: break-word;
    /* width: 30%; */

}

.film .filmDescription {
    color: red;
    float: left;
    width: 65%;
    word-wrap: break-word;
    padding-right: 5px;
}

.film_body .filmRating {
    color: red;
    float: left;
    width: 10%;
    padding-right: 5px;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


.back {
    background-color: white;
    color: black;
    font-size: xx-large;
    /* padding: 16px 20px; */
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
}

.page {
    margin: 20px 0 50px 0;
    flex: 1 1 auto;
}

.title {
    font-family: var(--main-font);
    font-size: 40px;
    margin: 0 0 .21em;
}

._container {
    max-width: 1150px;
    margin: 0 auto;
}

.collections__content {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.collections__main_title {
    font-family: var(--main-font);
    font-size: 40px;
    margin: 0 0 .21em;
}

.collections__description {
    margin-bottom: 15px;
    font-family: var(--main-font);
}

.collections__container {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    row-gap: 30px;
    column-gap: 20px;
}

.collection {
    min-width: 180px;
    text-decoration: none;
    flex-direction: column;
    transition: all .2s ease-out;
}

.collection_wrapper {
    position: relative;
    padding-top: 55%;
}

.collection_img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    object-fit: cover;
}

.collection__description {
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 20px;
    color: var(--main-nav-color);
}

.bg_container {
    background-color: var(--main-soft-color);
    border-radius: 30px;
    color: var(--main-bg-color);
    padding: 30px;
}

* {
    box-sizing: border-box;
}


/* 
  
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.menu li {
    border: 1px solid #000;
    position: relative;
}

.menu>li {
    flex: 1;
}

.menu a {
    text-align: center;
    display: flex;
    text-decoration: none;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.menu li a div {
    display: inline-block;
    vertical-align: middle;
}

.menu .sub-menu {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #aad659;
    z-index: 1;
}

.menu .sub-menu a {
    margin-bottom: -1px;
    color: white;
    text-decoration: none;
    padding:3px 5px;
}

.menu a:hover {
    background-color: salmon;
}

.menu>li:hover .sub-menu {
    display: block;
} */

.search-form {
    display: inline-block;
    margin-right: 17px;
    width: 300px;
}

.search-form .search-text {
    background-image: url(images/glass.png);
    background-repeat: no-repeat;
    background-position: 13px 5px;
    text-indent: 56px;
    width: 100%;
    height: 35px;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    display: inline-block;
    border-radius: 5px;
    box-shadow: none;
    border: none;
}

.warning p {
    color: red;
    margin: 0;
    text-align: right;
}
