include ../collection/collection

div.content_wrapper
    page.page
        div(class = "content_container")
            h1.title Подборки
            div.description Это наши подборочки :)
            div.bg_container
                div.collections__container
                    each input, _ in collectionList
                        +collection(input)

