.content_wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    margin: 20px 0 50px 0;
    flex: 1 1 auto;
}

.collections__description {
    margin-bottom: 15px;
    font-family: var(--main-font);
    color: white;
}

.collections__container {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    row-gap: 30px;
    column-gap: 20px;
}

.collection {
    min-width: 180px;
    text-decoration: none;
    flex-direction: column;
    transition: all .2s ease-out;
}

.collection_wrapper {
    position: relative;
    padding-top: 55%;
}

.collection_img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    object-fit: cover;
}

.collection__description {
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 20px;
    color: white;
}

.bg_container {
    background-color: var(--grid-bg-color);
    border-radius: 30px;
    color: var(--main-bg-color);
    padding: 30px;
}

.title {
    color: white;
}

._container {
    max-width: 1150px;
    margin: 0 auto;
}