.collections__description {
    margin-bottom: 15px;
    font-family: var(--main-font);
}

.collections__container {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    row-gap: 30px;
    column-gap: 20px;
}

.collection {
    min-width: 180px;
    text-decoration: none;
    flex-direction: column;
    transition: all .2s ease-out;
}

.collection_wrapper {
    position: relative;
    padding-top: 55%;
}

.collection_img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    object-fit: cover;
}

.collection__description {
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 20px;
    color: var(--main-nav-color);
}

.bg_container {
    background-color: var(--main-soft-color);
    border-radius: 30px;
    color: var(--main-bg-color);
    padding: 30px;
}

.movie {
    display: flex;
    align-items: flex-start;
    /* padding-bottom: 30px; */
}

.movie_container {
    background-color: var(--main-green-color);
    border-radius: 30px;
    color: var(--main-bg-color);
    padding: 30px;
    margin-bottom: 30px;
}

.movie_image {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.movie_image img {
    width: 220px;
    border-radius: 5px;
}

.movie_body {
    flex: 1 1 auto;
    padding: 0 30px 0 20px;
}

.movie_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.movie_data {
    margin-bottom: 10px;
}

.movie_title {
    font-size: 36px;
    text-decoration: none;
}

.movie_add_info {
    margin-bottom: 5px;
    font-size: 24px;
    color: var(--main-soft-color);
}

.movie_text {
    text-align: center;
    font-size: 28px;
}

.movie_rating {
    width: 120px;
}

.movie_rating_number {
    text-align: center;
    font-family: var(--main-font);
    font-size: 38px;
    color: var(--main-wng-color);
    margin-bottom: 10px;
}

.movie_description {
    font-family: var(--main-font);
    font-weight: 300;
    text-align: justify;
    display: flex;
}