@import "../../css/consts.scss";

.content_wrapper {
    font-family: $main_font;
    font-weight: bold;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .page {
        margin: 20px 0 50px;
        flex: 1 1 auto;

        .content_container {
            max-width: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(12, 120px);
            column-gap: 30px;
            row-gap: 0;
            grid-template-areas:
                "B0 B0 B1 B1 B2 B2 B3 B3 B4 B4 B5 B5"
                "C0 C0 C1 C1 C1 C1 C1 C1 C1 C1 C2 C2"
                "D0 D0 D1 D1 D1 D1 D1 D1 D1 D1 D2 D2";
            justify-items: center;
            justify-content: center;

            .description {
                text-align: left;
                width: 100%;
                margin-bottom: 15px;
                font-family: $main_font;
                color: white;
                grid-area: C1;
            }

            .title {
                color: white;
                grid-area: B1;
                text-align: left;
                width: 100%;
            }
        }

        .bg_container {
            background-color: $background;
            border-radius: 30px;
            color: $background;
            padding: 30px;
            grid-area: D1;
            width: 100%;

            .collections__container {
                grid-template-columns: repeat(4, 1fr);
                display: grid;
                row-gap: 30px;
                column-gap: 20px;
            }
        }
    }
}
