a.collection(href=("/" + page) data-section=page)
    div.collection__wrapper
        img.collection_img(data-section=page, src=("../server/images/" + imgSrc))
    div.collection__description(data-section=page) #{description}
