@import "../../css/consts.scss";

* {
	box-sizing: border-box;
}

.slider {
	position: relative;
	user-select: none;
	touch-action: pan-y;

	&__list {
		overflow: hidden;
		position: relative;

		.grab {
			cursor: grab;
		}
		.grabbing {
			cursor: grabbing;
		}
		&__track {
			display: flex;
			flex-direction: row;
			gap: 20px;

			&__item {
				width: 180px;
				min-width: 180px;
				text-align: center;
				display: flex;
				flex-shrink: 0;

				&__link {
					text-decoration: none;

					&__poster {
						width: 180px;
						height: 240px;

						img {
							width: 100%;
							height: 100%;
							min-height: 240px;
							object-fit: cover;
							border-radius: 20px;
						}
					}
					&__title {
						margin-top: 8px;
						width: 100%;
						min-height: 60px;
						font-family: $main_font;
						font-weight: 600;
						color: $white;
						font-size: 17px;
						line-height: 24px;
					}
				}
			}
		}
	}
	&__arrows {
		margin-top: 0;
		text-align: center;
	}
	&__button {
		position: absolute;
		top: 30%;
		color: $background;
		width: 48px;
		height: 48px;
		cursor: pointer;
		background-size: cover;

		@media (max-width: 800px) {
			display: none;
		}

		&__left {
			background-image: url("./dist/img/previous-arrow.png");
		}
		&__right {
			background-image: url("./dist/img/next-arrow.png");
			right: 0;
		}
		&__left.disabled,
		&__right.disabled {
			display: none;
			pointer-events: none;
		}
		&:hover {
			opacity: 0.8;
		}
		&:active {
			opacity: 0.76;
		}
	}
}
