@import "../../css/consts.scss";

.person-card {
    width: 580px;
    max-height: 214px;
    background-color: $movie_card;
    border-radius: 20px;
    color: $background;
    padding: 10px;
    margin-bottom: 30px;
    align-items: center;
    box-sizing: border-box;

    @media (max-width: 600px) {
        max-width: 355px;
    }
}

.person {
    font-family: $main_font;
    font-weight: bold;
    max-width: 560px;
    max-height: 214px;
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;

    &__image {
        display: flex;
        max-width: 158px;
        max-height: 214px;
        margin-bottom: 20px;
        align-self: center;

        img {
            width: 158px;
            height: 214px;
            border-radius: 10px;
        }
    }

    &__body {
        flex: 1 1 auto;
        padding: 0 30px 0 20px;
        display: flex;
        flex-direction: column;

        @media (max-width: 600px) {
            max-width: 200px;
            max-height: 195px;
            padding: 0 10px 0 10px;
        }

        &__info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &__name {

                &__person-title {
                    font-family: $main_font;
                    display: flex;
                    width: 100%;
                    font-size: 20px;
                    text-decoration: none;
                    color: white;
                    text-align: left;
                }
            }

        }
    }
}
