@import "../../css/consts.scss";

.review-card {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(10, 80px);
    grid-template-areas: "A0 A0 A1 A1 A1 A1 A1 A1 A1 A1";
    background-color: $dark_raspberry;
    color: $white;
    border-radius: 20px;
    margin-bottom: 30px;

    
    &__avatar {
        grid-area: A0;
        display: flex;
        flex-direction: column;
        min-height: 180px;
        width: 180px;

        img {
            object-fit: cover;
            margin: 30px;
            width: 120px;
            height: 120px;
            left: calc(50% - 120px / 2);
            right: calc(50% - 120px / 2);
            border-radius: 60px;
        }
    }

    &__info {
        grid-area: A1;
        
        &__title {
            display: flex;
            flex-direction: row;
            height: 40px;
    
            &__name {
                color: $white;
                height: 40px;
                text-decoration: none;
                font-size: 20px;
                font-weight: 500;
                font-family: $main_font;
                line-height: 40px;
                margin-right: 6px;
            }
            
            &__info {
                color: $white;
                height: 40px;
                text-decoration: none;
                font-size: 20px;
                font-family: $main_font;
                line-height: 40px;
            }
        }
    
        &__content {
            display: flex;
            flex-direction: column;
            color: $white;
            text-decoration: none;
            font-size: 20px;
            font-family: $main_font;
            line-height: 20px;
        }
    }
}

.good {
    background: radial-gradient(circle, $dark-raspberry 11%, $green 92%);
}

.neutral {
    background: radial-gradient(circle, $dark-raspberry 11%, $navigational 92%);
}

.bad {
    background: radial-gradient(circle, $dark-raspberry 11%, $red 92%);
}