mixin bookmark(i)
    a.bookmark-element(href=`/bookmarks/${i.ID}`)
        .bookmark-element__wrapper
            img(src=`../server/images/${i.imgSrc}`)
        .bookmark-element__description #{i.description}
