.bookmark-element {
	display: flex;
	text-decoration: none;
	flex-direction: column;
	:hover {
		cursor: pointer;
	}
	&__wrapper {
		margin-right: 10px;

		img {
			border-radius: 20px;
			width: 180px;
			height: 150px;
			object-fit: cover;
		}
	}
	&__description {
		width: 180px;
		height: 64px;
		color: #ffffff;
		text-align: center;
		align-items: center;
		display: flex;
		justify-content: center;
		font-family: "Montserrat", sans-serif;
		font-weight: 600;
		font-size: 17px;
		line-height: 24px;
		overflow: hidden;
		flex-direction: column;
		word-break: break-word;
		&:hover {
			color: $dark_raspberry;
		}
		&:active {
			color: $very_dark_raspberry;
		}
	}
}

@media (max-width: 390px) {
	.bookmark-element {
		&__wrapper {
			margin-right: 5px;

			img {
				width: 150px;
				height: 125px;
			}
		}
		&__description {
			width: 150px;
		}
	}
}
