mixin bookmark(i)
    a.bookmark-element(href=`/collections/${i.ID}`)
        .bookmark-element__wrapper
            img(src=`/server/images${i.imgSrc}`)
        .bookmark-element__description #{i.description}
