@import "../../css/consts.scss";

.movie-collection {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
    z-index: 100;
    
	&__dropdown {
        width: 100%;
		height: 48px;
		position: relative;
        text-align: center;
		font-family: $main_font;
		font-weight: 700;
		font-size: 15px;
		line-height: 48px;
		color: $font_color_white;
		background-color: $raspberry;
        margin-bottom: 20px;
        border-radius: 20px;
        
		select {
			display: none;
		}
		.select-selected-collections {
			background-color: $raspberry;
			border-radius: 20px;

			&::after {
				position: absolute;
				content: "";
				top: 22px;
				right: 18px;
				width: 0;
				height: 0;
				border: 6px solid transparent;
				border-color: $font_color_white transparent transparent transparent;
			}
		}
		.select-items {
			position: absolute;
			width: 100%;
			top: 100%;
			left: 0;
			right: 0;
		}

		.select-items label input{
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}


		.select-items label,
		.select-selected {
			display: inline-block;
			position: relative;

			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			background-color: $raspberry;
			color: $font_color_white;
			line-height: 48px;
			height: 48px;
			width: 100%;
			cursor: pointer;
			user-select: none;
		}

		.select-hide {
			display: none;
		}
		.select-items label:hover,
		.same-as-selected {
			background-color: $dark_raspberry;
		}
		.select-items label:active {
			background-color: $very_dark_raspberry;
		}
		.select-arrow-active {
			border-radius: 20px 20px 0 0;

			&::after {
				border-color: transparent transparent $font_color_white transparent;
				top: 15px;
			}
		}
	}
	&__text-input {
		width: 100%;
		display: flex;
		flex-direction: column;
		border-radius: 20px;
		min-height: 160px;
		font-size: 18px;
		font-family: $main_font;
		line-height: 20px;
		font-weight: 600;
		padding: 10px;
		margin-bottom: 20px;
	}
	&__submit {
		text-align: center;
		border-radius: 20px;
		background-color: $raspberry;
		font-size: 20px;
		font-weight: 600;
		height: 40px;
		width: 380px;
		color: $white;
		line-height: 40px;
		font-family: $main_font;

		&:hover {
			background-color: $dark_raspberry;
			cursor: pointer;
		}
		&:active {
			background-color: $very_dark_raspberry;
		}
	}
}

.collections-last {
    width: 100%;
    height: 48px;
    position: relative;
    text-align: center;
    font-family: $main_font;
    font-weight: 700;
    font-size: 15px;
    line-height: 48px;
    color: $font_color_white;
    background-color: $raspberry;
    margin-bottom: 20px;
	border-radius: 0 0 20px 20px;

    &__input {
        width: 80%;
        height: 40px;
        border-radius: 12px;
        border: 1px solid black;
		
    }
}

.custom-checkbox {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 25px;
	width: 25px;

	
	&:after {
		content: "";
		position: absolute;
		display: none;
	
		left: 20px;
		top: 16px;
		width: 5px;
		height: 10px;
		border: solid $font_color_white;
		border-width: 0 3px 3px 0;
		transform: rotate(45deg);
	}
	
	
}

.select-items label:hover input~ .custom-checkbox:after {
	display: block;
	top: 4px;
	left: 4px;
	width: 40px;
	height: 40px;
	background: 
		linear-gradient($font_color_white, $font_color_white),
		linear-gradient($font_color_white, $font_color_white);
	background-position:center;
	background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
	background-repeat:no-repeat;
	border: none;
	transform: none;
}

.select-items label input:checked ~ .custom-checkbox:after {
	display: block;
	content: "";
	position: absolute;
	background: none;
	left: 20px;
	top: 16px;
	width: 5px;
	height: 10px;
	border: solid $font_color_white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}