div.movie-collection__dropdown
    select.bookmark-select
        option(bookmarkid="0") Добавить в подборку:
        each collectionItem, i in collectionsInfo
            option(bookmarkid=`${collectionItem.bookmarkId}` class=`${ collectionItem.hasMovie ? "hasMovie" : ""}`) #{collectionItem.collection}
