@import "../../css/consts.scss";

.auth-content {
    font-family: $main_font;
    font-weight: bold;
	background: url("./static/pics/bg.png") no-repeat center center;
	min-height: 100%;
	width: 100%;
	background-size: cover;
	background-color: $background;
	align-items: center;
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(12, 120px);
	column-gap: 30px;
	row-gap: 30px;
	grid-template-areas:
		"B0 B0 B1 B1 B2 B2 B3 B3 B4 B4 B5 B5"
		"C0 C0 C0 C1 C1 C1 C1 C1 C1 C2 C2 C2"
		"D0 D0 D0 D1 D1 D1 D1 D1 D1 D2 D2 D2";
	justify-items: center;
}

.login {
	grid-area: C1;
	width: 100%;
	padding: 16px;
	align-items: center;
	background: rgb(240 240 240 / 83%);
	border-radius: 10px;
	display: grid;
	gap: 20px;
	grid-template-areas:
		"A0 A0 A0 A0 A0 A0"
		"B0 B1 B1 B1 B1 B2"
		"B0 B1 B1 B1 B1 B2"
		"B0 B1 B1 B1 B1 B2"
		"C0 C1 C1 C1 C1 C2";
	grid-auto-columns: minmax(0, 136px);

    &__invitation {
        grid-area: A0;
        font-family: var(--main-font);
        font-size: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 65px;
    }

    &__form {
        grid-area: B1;
        width: 100%;
        height: 100%;
        display: grid;
        gap: 20px;
        grid-template-areas:
            "A0 A0 A0 A0"
            "B0 B0 B0 B0"
            "C0 C0 C0 C0";
    }
}

.register {
	grid-area: C1;
	width: 100%;
	flex-direction: column;
	padding: 16px;
	align-items: center;
	border-width: thin;
	border-style: solid;
	background: rgb(240 240 240 / 83%);
	border-radius: 10px;
	display: grid;
	gap: 20px;
	grid-template-areas:
		"A0 A0 A0 A0 A0 A0"
		"B0 B1 B1 B1 B1 B2"
		"B0 B1 B1 B1 B1 B2"
		"B0 B1 B1 B1 B1 B2"
		"B0 B1 B1 B1 B1 B2"
		"B0 B1 B1 B1 B1 B2"
		"C0 C1 C1 C1 C1 C2";
	grid-auto-columns: minmax(0, 136px);

    &__invitation {
        grid-area: A0;
        font-family: var(--main-font);
        font-size: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 65px;
    }

    &__form {
        grid-area: B1;
        width: 100%;
        height: 100%;
        display: grid;
        gap: 20px;
        grid-template-areas:
            "Z0 Z0 Z0 Z0"
            "A0 A0 A0 A0"
            "B0 B0 B0 B0"
            "D0 D0 D0 D0"
            "C0 C0 C0 C0";
    }
}

.auth-input {
    display: flex;
	flex-direction: column;
	width: 100%;
    
    &__head {
        display: flex;
        width: 100%;
        flex-direction: row;

        &__label {
            width: 30%;
            margin-top: 1em;
            margin-bottom: 0.3em;
            font-size: 1.5em;
            font-family: var(--main-font);
            align-self: baseline;
        }

        &__error {
            width: 70%;
            display: grid;
            align-items: end;
            text-align: right;
            font-family: $main_font;
            font-size: 18px;
            color: $error;
        }
    }
}

.text-input {
	height: 50px;
    font-family: $main_font;
    font-weight: bold;
	width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}

.email {
    grid-area: A0;
}

.password {
    grid-area: B0;
}

.username {
    grid-area: Z0;
}

.repeatpassword {
    grid-area: D0;
}

.auth__btn {
    grid-area: C0;
	display: flex;
	flex-direction: column;
	width: 100%;

    &__error {
        width: 100%;
        text-align: center;
        vertical-align: middle;
        font-family: $main_font;
        font-size: 18px;
        color: $error;
    }

    &__input {
        font-family: $main_font;
        font-weight: bold;
        font-size: 18px;
        color: white;
        margin: 1em auto 0;
        height: 40px;
        border: 0;
        cursor: pointer;
        width: 220px;
        background: #b70084;
        border-radius: 12px;
    }
}

.auth__invitation {
    width: 100%;
	text-align: center;
	grid-area: C1;
    font-family: $main_font;
	text-decoration: none;
	color: $navigational;
	cursor: pointer;
	margin: 10px auto 25px;
    
    &:hover {
        text-decoration: underline;
    }
}

@keyframes input-error {
	from {background-color: white;}
 	to {background-color: rgb(248, 133, 133);}
}

.error {
	border: solid $error;
	border-width: 2px;
	animation-name: input-error;
	animation-duration: 1s;
}