div.review-input-block
    div.review-input-block__dropdown
        select
            option(value="0") Выберите тип отзыва
            option(value="1") Отлично :)
            option(value="2") Неплохо
            option(value="3") Ужасно :(
    