div.review-input-block
    div.review-input-block__dropdown
        select
            option(value="0") Выберите тип отзыва
            option(value="1") Отлично :)
            option(value="2") Неплохо
            option(value="3") Ужасно :(
    textarea(class="review-input-block__text-input" placeholder="Фильм просто огонь!" maxlength="500")
    div.review-input-block__submit Оставить отзыв
