.search-wrapper
    .search-block
        span.search-block__query Результаты поиска по запросу: #{value}
        span.search-block__films-title Фильмы
        .search-block__films-container
        span.search-block__persons-title Персоны
        .search-block__persons-container
    