.profile-reviews {
    grid-area: review;
    width: 780px;
    display: grid;
    grid-template-areas:
        "name name name name name name"
        "el el el el el el";

    &__title {
        grid-area: name;
        width: 780px;
        height: 40px;
        color: $font_color_white;
        text-align: center;
    }
    &__reviewContainer {
        grid-area: el;
    }
}
