.profileReview
    span.profileReview__title Отзывы и оценки
    .profileReview__reviewContainer
        .review-element
            .review-element__type Отзыв
            .review-element__text Классный фильм, 10/10
        .review-element
            .review-element__type Отзыв
            .review-element__text Классный фильм, 10/10
        .review-element
            .review-element__type Отзыв
            .review-element__text Классный фильм, 10/10
        .review-element
            .review-element__type Отзыв
            .review-element__text Классный фильм, 10/10
        