.profile-reviews__reviewContainer {
    grid-area: el;
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {
    .profile-reviews__reviewContainer {
        justify-content: center;
        margin-left: 5px;
        margin-right: 5px;
    }
}
