@import "../../css/consts.scss";

.content-wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    margin: 20px 0 50px;
    flex: 1 1 auto;
}

.container {
    font-family: $main_font;
    font-weight: bold;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    row-gap: 0;
    grid-template-areas:
        "B0 B0 B1 B1 B1 B1 B1 B1 B1 B1 B2 B2"
        "C0 C0 C1 C1 C1 C1 C1 C1 C1 C1 C2 C2"
        "A0 A0 A1 A1 A1 A1 A1 A1 A1 A1 A1 A1"
        "D0 D0 D1 D1 D1 D1 D1 D1 D1 D1 D2 D2";
    justify-items: center;
    justify-content: center;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas:
            "B0 B1 B1 B1 B1 B1 B1 B2"
            "A0 A1 A1 A1 A1 A1 A1 A2"
            "C0 C1 C1 C1 C1 C1 C1 C2"
            "C0 D1 D1 D1 D1 D1 D1 D2";
    }

    @media (max-width: 600px) {
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas:
            "B0 B1 B1 B1 B1 B1 B1 B2"
            "A0 A1 A1 A1 A1 A1 A1 A2"
            "C0 C1 C1 C1 C1 C1 C1 C2"
            "D1 D1 D1 D1 D1 D1 D1 D1";
    }
    .notify {
        display: flex;
        position: fixed;
        bottom: 20px;
        height: 25px;
        opacity: 0;
        align-items: center;
        background-color: #585858;
        border-radius: 5px;

        &__message {
            color: $white;
            padding-left: 15px;
            // background-color: white;
        }
        &__close {
            //position: relative;
            color: $white;
            cursor: pointer;
            //top: 0px;
            //left: 100%;
            padding-left: 10px;
            padding-right: 15px;
        }
    }
    .notify-open{
        opacity: 1;
    }

    &__bookmark-title {
        font-family: $main_font;
        display: block;
        height: 100%;
        width: 100%;
        font-size: 40px;
        text-decoration: none;
        color: white;
        grid-area: B1;
        text-align: left;
        margin-top: 0;
        margin-bottom: 20px;
        @media (max-width: 600px) {
            font-size: 30px;
        }

        span {
            min-width: 20px;
        }
        &__color {
            max-width: 100%;
            color: $error;
        }
    }
    &__bookmark-description {
        display: flex;
        text-align: left;
        width: 100%;
        margin-bottom: 40px;
        font-family: $main_font;
        font-size: 28px;
        color: white;
        grid-area: C1;
    }
    &__bookmark-settings {
        grid-area: A1;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-bottom: 40px;
        .title {
            margin-left: 5px;
            color: $white;
            text-align: center;
        }
        &__delete-playlist-btn {
            display: flex;
            background-color: $raspberry;
            color: $white;

            height: 40px;
            border-radius: 12px;
            border: 0;
            &:hover {
                filter: brightness(80%);
                cursor: pointer;
            }
            &:active {
                filter: brightness(72%);
            }
        }
        &__private-btn {
            display: flex;
            width: 48px;
            height: 20px;
            border-radius: 12px;
            background: #bfbfbf;
            z-index: 0;
            margin-left: 20px;
            padding: 0;
            border: none;
            cursor: pointer;
            position: relative;
            transition-duration: 300ms;
        }
        &__private-btn::after {
            content: "";
            height: 20px;
            width: 20px;
            border-radius: 18px;
            background: $white;
            // top: -1px;
            left: -5px;
            transition-duration: 300ms;
            box-shadow: 0 0 10px 0 #999999;
            position: absolute;
            z-index: 1;
        }
        .private-on {
            background: $raspberry;
            box-shadow: inset 0 0 10px 0 #999999;
        }

        .private-on::after {
            left: 30px;
            background: $white;
        }
    }
}

.movies-container {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    row-gap: 30px;
    column-gap: 20px;
    grid-area: D1;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(1, 1fr);
    }
}
