@import "../../css/consts.scss";

.movie-card {
    max-width: 580px;
    max-height: 214px;
    background-color: $movie_card;
    border-radius: 20px;
    color: $background;
    padding: 10px;
    margin-bottom: 30px;
    align-items: center;
    box-sizing: border-box;

    @media (max-width: 600px) {
        max-width: 355px;
    }
}

.movie {
    font-family: $main_font;
    font-weight: bold;
    max-width: 560px;
    max-height: 214px;
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;

    &__image {
        display: flex;
        max-width: 158px;
        max-height: 214px;
        margin-bottom: 20px;
        align-self: center;

        img {
            width: 158px;
            height: 214px;
            border-radius: 10px;
        }
    }

    &__body {
        flex: 1 1 auto;
        padding: 0 30px 0 20px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-height: 192px;
        @media (max-width: 600px) {
            max-width: 200px;
            max-height: 195px;
            padding: 0 10px 0 10px;
        }

        &__info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &__data {
                margin-bottom: 10px;
                width: 100%;

                &__title {
                    display: flex;

                    &__movie-title {
                        font-family: $main_font;
                        display: flex;
                        width: 100%;
                        max-width: 1180px;
                        font-size: 20px;
                        text-decoration: none;
                        color: white;
                        grid-area: B1;
                        text-align: left;
                        word-break: break-word;
                        @media (max-width: 600px) {
                            width: 75%;
                        }
                    }

                    &__rating {
                        text-align: center;
                        font-family: $main_font;
                        font-size: 20px;
                        color: $error;
                        margin-bottom: 10px;
                    }

                    &__delete-movie-btn {
                        margin-left: 15px;
                        width: 30px;
                        height: 24px;
                        
                    }

                    &__delete-movie-btn:hover {
                        cursor: pointer;
                        filter: brightness(110%);
                    }
                    
                    &__delete-movie-btn:before {
                        content: "";
                        background-color: rgb(171, 171, 171);
                        width: 2px;
                        height: 20px;
                        position: absolute;
                        transform: rotate(-45deg);
                    }
                    &__delete-movie-btn:after {
                        content: "";
                        background-color: rgb(171, 171, 171);
                        width: 2px;
                        height: 20px;
                        position: absolute;
                        transform: rotate(45deg);
                    }
                }

                &__additional {
                    font-family: $main_font;
                    margin-bottom: 5px;
                    font-size: 17px;
                    color: $movie_card_grey;
                }
            }
        }

        &__description {
            color: rgb(219 218 218);
            // text-align: left;
            max-width: 100%;
            display: flex;
            font-size: 16px;
            line-height: 20px;
            height: 100px;
            width: 350px;
            overflow: hidden;
            // white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
