.profile-bookmarks__bookmarks-container {
    grid-area: el;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    .bookmark-element-default {
        display: flex;
        :hover {
            cursor: pointer;
            filter: brightness(110%);
        }
        &__wrapper {
            margin-right: 10px;
            border-radius: 20px;
            width: 180px;
            height: 150px;
            position: relative;
            background-color: #474747;
            display: flex;
            align-items: center;
            justify-content: center;
            &__plus-btn {
                display: flex;
                justify-content: center;
            }
            &__plus-btn::before {
                content: "";
                background-color: rgb(171, 171, 171);
                height: 5px;
                width: 30%;
                position: absolute;
            }
            &__plus-btn::after {
                content: "";
                background-color: rgb(171, 171, 171);
                height: 5px;
                width: 30%;
                position: absolute;
                transform: rotate(90deg);
            }
        }
    }
}
@media (max-width: 767px) {
    .profile-bookmarks__bookmarks-container {
        justify-content: center;
    }
}

@media (max-width: 390px) {
    .profile-bookmarks__bookmarks-container {
        justify-content: center;
        .bookmark-element-default {
            &__wrapper {
                margin-right: 5px;
                width: 150px;
                height: 125px;
            }
        }
    }
}
