header.navbar
    .navbar__vertical-menu
        img(src="../../dist/img/burger.svg")
        .vertical-menu__main-btn
        .vertical-menu__btn-container
            a.navbar__menu-btn.collections(href="/collections") Подборки
            a.navbar__menu-btn.genres(href="/genres") Жанры
            a.navbar__menu-btn.premiers(href="/premiers") Премьеры
    a.navbar__logo(href="/" data-section="main")
        img(data-section="main" src="../dist/img/logo.svg")

    div.navbar__menu
        a.navbar__menu-btn.collections(href="/collections") Подборки
        a.navbar__menu-btn.genres(href="/genres") Жанры
        a.navbar__menu-btn.premiers(href="/premiers") Премьеры

    .search
        input.search__input(placeholder="Фильм? Актёр?")
        .search__btn
            include ../../dist/img/search.svg
    if userFromStorage
        include userBlock/userBlock.pug
    else
        include loginButton.pug