header#navbar
    a.navbar_logo(href="/" data-section="main")
        img(data-section="main" src="../server/images/logo.svg")
    div.navbar_menu
        a.navbar_menu_btn(href="/collections", data-section="collections") Подборки
        a.navbar_menu_btn(href="/", data-section="genres") Жанры
        a.navbar_menu_btn(href="/", data-section="premiers") Премьеры
    div.navbar_search
    a.navbar_menu_login-btn(href="/login", data-section="login") Войти
        
