header.navbar
    .navbar__vertical-menu
      .vertical-menu__main-btn
        span.vertical-menu-line.first-line-in-menu
        span.vertical-menu-line.second-line-in-menu
        span.vertical-menu-line.third-line-in-menu
      .vertical-menu__btn-container
        //- each btn in mobileHeaderLinks
        //-     a.navbar__menu-btn(href = btn.href)= btn.title
    a.navbar__logo(href="/" data-section="main")
        img(data-section="main" src="../server/images/logo.svg")
 
    div.navbar__menu
        a.navbar__menu-btn.collections(href="/collections") Подборки
        a.navbar__menu-btn.genres(href="/") Жанры
        a.navbar__menu-btn.premiers(href="/") Премьеры
        // Как так сделать?
        //- each btn in headerLinks
        //-     a.navbar__menu-btn(href=btn.href) = btn.title
    .search
        input.search__input(placeholder="Фильм? Актёр?")
        .search__btn
            include ../../static/pics/search.svg
    if userFromStorage
        include userBlock/userBlock.pug
    else
        include loginButton.pug