#navbar {
    font-family: var(--main-font);
    width: 100%;
    flex: 0 0 10%;
    background-color: var(--main-nav-color);
    position: sticky;
    align-items: center;
    display: flex;
    flex-direction: row;

}

.navbar_logo {
    margin-left: 5%;
}

.navbar_logo img {
    width: 100px;
    height: 65px;
}

.navbar_menu {
    display: inherit;
    width: 40%;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.navbar_menu_btn {
    text-decoration: none;
    transition: .1s;
    color: white;
}
.navbar_menu_btn:hover {
    color: #AB23FF;
}

.navbar_menu_btn:active {
    color: #7200b9;
}

.navbar_search {
    width: 30%;
    display: flex;
    align-items: center;
}

.navbar_menu_login-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    text-decoration: none;

    width: 88px;
    height: 48px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    background: #9207A6;
    border-radius: 12px;
}

.navbar_menu_login-btn:hover {
    background: #9207A6;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.75);
}

.navbar_menu_login-btn:active {
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.75);
}
