#navbar {
    font-family: var(--main-font);
    width: 100%;
    flex: 0 0 10%;
    background-color: var(--main-nav-color);
    position: sticky;
    align-items: center;
    display: flex;
    flex-direction: row;

}

.navbar_logo {
    margin-left: 5%;
}

.navbar_logo img {
    width: 100px;
    height: 65px;
}

.navbar_menu {
    display: inherit;
    width: 40%;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.navbar_menu_btn {
    text-decoration: none;
    transition: .1s;
    color: white;
}

.navbar_search {
    width: 30%;
    display: flex;
    align-items: center;
}

.navbar_menu_login-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    text-decoration: none;

    width: 88px;
    height: 48px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #F4E6E6;
    background: linear-gradient(80.58deg, rgba(246, 87, 250, 0.42) 7.41%, rgba(255, 0, 92, 0.47) 87.29%);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}