#navbar {
    font-family: var(--main-font);
    width: 100%;
    flex: 0 0 10%;
    background-color: var(--main-nav-color);
    position: sticky;
    align-items: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(12, 120px);
    column-gap: 30px;
    grid-template-areas: 
    "A1 A1 A2 A3 A3 A3 A4 A5 A6 A7 A8 A9";

}

.navbar_logo {
    margin-left: 5%;
    grid-area: A1;
}

.navbar_logo img {
    width: 100px;
    height: 65px;
}

.navbar_menu {
    display: grid;
    grid-area: A3;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 120px);
    gap: 30px;
    grid-template-areas: "A31 A32 A33";
    font-size: 20px;
}

[class^="navbar_menu_btn_"]:hover {
    color: #AB23FF;
}

[class^="navbar_menu_btn_"]:active {
    color: #7200b9;
}


.navbar_menu_btn_collections {
    text-decoration: none;
    transition: .1s;
    color: white;
    grid-area: A31;
}

.navbar_menu_btn_genres {
    text-decoration: none;
    transition: .1s;
    color: white;
    grid-area: A32;
}

.navbar_menu_btn_premiers {
    text-decoration: none;
    transition: .1s;
    color: white;
    grid-area: A33;
}


.navbar_search {
    width: 30%;
    display: flex;
    align-items: center;
}

.navbar_menu_login-btn {
    display: grid;
    padding: 10px;
    grid-area: A8;
    text-decoration: none;

    width: 88px;
    height: 48px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    background: #9207A6;
    border-radius: 12px;
}

.navbar_menu_login-btn:hover {
    background: #9207A6;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.75);
}

.navbar_menu_login-btn:active {
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.75);
}

.navbar_menu_logout-btn {
    display: grid;
    padding: 10px;
    grid-area: A8;
    text-decoration: none;

    width: 88px;
    height: 48px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    background: #9207A6;
    border-radius: 12px;
}

.navbar_menu_logout-btn:hover {
    background: #9207A6;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.75);
}

.navbar_menu_login-btn:active {
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.75);
}
