include ../movieCard/movieCard

div.content-wrapper
    page.page
        div.container
            h1.container__collection-title Подборка:
                span
                span.container__collection-title__color #{title}
            div.container__collection-description #{description}
            div.movies-container
                each movie, _ in movieList
                    +movieCard(movie)
