@import "../../css/consts.scss";

.content-wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    margin: 20px 0 50px;
    flex: 1 1 auto;
}

.container {
    font-family: $main_font;
    font-weight: bold;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 120px);
    column-gap: 30px;
    row-gap: 0;
    grid-template-areas: 
        "B0 B0 B1 B1 B1 B1 B1 B1 B1 B1 B2 B2" 
        "C0 C0 C1 C1 C1 C1 C1 C1 C1 C1 C2 C2" 
        "D0 D0 D1 D1 D1 D1 D1 D1 D1 D1 D2 D2";
    justify-items: center;
    justify-content: center;

    &__collection-title {
        font-family: $main_font;
        display: flex;
        width: 100%;
        max-width: 1180px;
        font-size: 40px;
        text-decoration: none;
        color: white;
        grid-area: B1;
        text-align: left;
    
        span {
            min-width: 20px;
        }
    
        &__color{
            color: $error
        }
    }

    &__collection-description {
        display: flex;
        text-align: left;
        width: 100%;
        max-width: 1180px;
        margin-bottom: 40px;
        font-family: var(--main-font);
        font-size: 28px;
        color: white;
        grid-area: C1;
    }
}

.movies-container {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    row-gap: 30px;
    column-gap: 20px;
    grid-area: D1;
}
